$font-sizes: (
  xxs: 0.5em,
  xs: 0.8em,
  s: 1em,
  m: 1.3em,
  l: 1.5em,
  xl: 2em,
  xxl: 4em,
);

@function font-size($size) {
  @if map-has-key($font-sizes, $size) {
    @return map-get($font-sizes, $size);
  }
}
